<div class="modal-header">
  <h4 class="modal-title">Nuevo Puesto de Trabajo</h4>
  <button type="button" class="close" aria-label="Close" (click)="dialog.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form (ngSubmit)="create()">
    <div class="form-group">
      <label>Nombre</label>
        <input [(ngModel)]="job.name" cdkFocusInitial class="form-control" name="name"
               placeholder="Nombre" required type="text"/>
    </div>

      <div class="form-group">
          <label for="risk">Riesgo</label>
          <select [(ngModel)]="job.risk" name="risk" class="form-control">
            <option disabled>Seleccione Riesgo</option>
            <option *ngFor="let risk of risks" [value]="risk.value">
              {{risk.title}}
            </option>
          </select>
      </div>


    <div class="form-group">
      <label>Salario Minimo</label>
        <input [(ngModel)]="job.minSalary" cdkFocusInitial class="form-control" name="minSalary"
               placeholder="Salario minimo" required type="number"/>
    </div>

    <div class="form-group">
      <label>Salario Maximo</label>
        <input [(ngModel)]="job.maxSalary" cdkFocusInitial class="form-control" name="maxSalary"
               placeholder="Salario Maximo" required type="number"/>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="dialog.close('Close click')">Close</button>

  <button (click)="create()" class="btn btn-primary" type="submit">
    <span>Guardar</span>
  </button>
</div>

