<div class="modal-header">
  <h4 class="modal-title">Nueva competencia</h4>
  <button type="button" class="close" aria-label="Close" (click)="dialog.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form (ngSubmit)="update()">
    <div class="form-group">
      <label>Descripcion</label>
        <input [(ngModel)]=competency2.description cdkFocusInitial class="form-control" name="description"
               placeholder="Descripcion" required type="text"/>
    </div>
  </form>
</div>

<div class="modal-footer">

  <button type="button" class="btn btn-outline-dark" (click)="dialog.close('Close click')">Close</button>

  <button (click)="update()" class="btn btn-primary" type="submit">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    <span>Actualizar Competencia</span>
  </button>
</div>
