<div class="main-content">
<div class="container-fluid">
  <div class="card">
    <div class="header">
      <h4 class="title">Candidatos</h4>
      <p class="category">Lista de candidatos</p>
    </div>
    <table class="table table-hover table-striped" #candidateTable> <!-- we will make use of this angular var as element reference -->
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Nombre</th>
          <th scope="col">Cedula</th>
          <th scope="col">Salario</th>
          <th scope="col">Puesto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates">
          <!-- <td scope="row">{{ candidate.id }}</td> -->
          <td scope="row">{{ candidate.name }}</td>
          <td>{{ candidate.dni }}</td>
          <td>{{ candidate.salary }}</td>
          <td>{{ candidate.job.name }}</td>
          <td>
            <button class="btn btn-primary" (click)="contract(candidate.id)">Contratar</button>
          </td>
        </tr>
        <tr>
      </tbody>
    </table>

  </div>
</div>
</div>
